html{margin:0}
.small{font-size:10px}
li{float:left}
.footer{padding:0;margin:0;bottom:0;position:fixed;width:100%}
.footer p{color:white}
figcaption{font-size:10px;color:#333333}
figure{display:inline-block;margin:2px 4px 2px 4px}
figure img{width:30px;height:25px}
.group a{padding:6px;margin:1px;display:inline-block}
a:hover{color:gray}
ul{list-style-type:none;margin:0;padding:0;overflow:hidden}
li * {display:block;padding:14px 16px;text-decoration:none;}
li a:hover:not(.active){background-color:#111}

.button,.group {font-family:Arial;font-weight:bold;border:none;display:inline-block;padding:8px 6px;margin:2px;color:#333;background-color:rgba(155,155,155,0.6);border-radius:5px}
.navbtn {display:inline-block;color:#333;background-color:rgba(5,5,5,0.9);text-align:center;padding-top:8px;min-width:96px;max-width:96px;padding-bottom:8px}
.navbtn * {color:white;text-align:center;padding:28px 4px;text-decoration:none}

input[type=text]  {width:720px;max-width:80%;padding:13px 10px;display:inline-block;border:2px solid black;border-right:none;border-radius:2px;box-shadow:1px 1.5px 20px #888888;box-sizing:border-box;}
input[type=submit]{padding:13px 12px;border:2px solid black;border-left:none;border-radius:2px;cursor:pointer;position:relative;right:8px;}